MAIN H1 {
    text-align: center;
}

MAIN TABLE {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}

MAIN TABLE TR TD {
    border: 2px black solid;
}

MAIN TABLE IMG {
    width: 50px;
}

MAIN TABLE TR TD.Columna1 {
    background-color: red;
    color: white;
    text-align: center;
}

MAIN TABLE #CapacidadColor TD.GB {
    padding: 30px 0px 30px 0px;
    background-color: gray;
    font-size: 40px;
    text-align: center;
}

MAIN TABLE #Lista TD UL LI {
    color: red;
}

MAIN TABLE TR #horas5 {
    padding: 50px 0px 50px 0px;
    background-color: yellow;
}

MAIN TABLE TR TD[colspan="2"],TD[colspan="3"] {
    background-color: rgb(99, 99, 196);
}
MAIN TABLE TR:nth-child(3) TD:last-child {
    text-align: left;
}